In [4]:
import pandas as pd

---
Gare Fourvi√®re - France
---

*  28/03/2024

In [23]:
df = pd.read_csv("../data/liste-des-gares.csv",sep=";")

In [24]:
df.head()

,CODE_UIC,LIBELLE,FRET,VOYAGEURS,CODE_LIGNE,RG_TRONCON,PK,COMMUNE,DEPARTEMEN,IDRESEAU,IDGAIA,X_L93,Y_L93,X_WGS84,Y_WGS84,C_GEO,Geo Point,Geo Shape
0,87586461,Cuzorn,N,N,631000,1,602+834,CUZORN,LOT-ET-GARONNE,109992,d98082e2-6667-11e3-89ff-01f464e0362d,5.366742e+05,6.384164e+06,0.944065,44.537408,"44.53740791364607, 0.9440645562374845","44.53740791362522, 0.9440645562374834","{""coordinates"": [0.944064556237483, 44.5374079..."
1,87671784,Gamarde-les-Bains,N,N,654000,1,166+250,GAMARDE-LES-BAINS,LANDES,109995,e553e9e2-6667-11e3-a7ff-01f464e0362d,3.877218e+05,6.298690e+06,-0.875845,43.718247,"43.71824712724352, -0.8758453662157154","43.718247127220565, -0.8758453662157185","{""coordinates"": [-0.875845366215719, 43.718247..."
2,87583807,Vars,N,N,570000,3,435+828,VARS,CHARENTE,110001,d97737ce-6667-11e3-89ff-01f464e0362d,4.775301e+05,6.522490e+06,0.137009,45.765719,"45.76571862432463, 0.13700883586422682","45.76571862430718, 0.13700883586422444","{""coordinates"": [0.137008835864224, 45.7657186..."
3,87338590,Monte-Carlo-Country-Club,N,O,930000,1,243+480,ROQUEBRUNE-CAP-MARTIN,ALPES-MARITIMES,110003,c0cae298-f312-11e3-90ff-015864e0362d,1.058310e+06,6.305382e+06,7.450723,43.756553,"43.75655287606431, 7.450722512060252","43.75655287604143, 7.450722512060253","{""coordinates"": [7.450722512060253, 43.7565528..."
4,87478248,La Boussac,N,N,415000,1,128+579,LA BOUSSAC,ILLE-ET-VILAINE,110006,e54c368a-6667-11e3-a7ff-01f464e0362d,3.559508e+05,6.834234e+06,-1.661338,48.516932,"48.51693157988218, -1.6613379776804635","48.516931579858365, -1.6613379776804675","{""coordinates"": [-1.661337977680468, 48.516931..."

In [28]:
df.shape

(6469, 18)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6469 entries, 0 to 6468
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODE_UIC    6469 non-null   int64
 1   LIBELLE     6469 non-null   object
 2   FRET        6469 non-null   object
 3   VOYAGEURS   6469 non-null   object
 4   CODE_LIGNE  6469 non-null   int64
 5   RG_TRONCON  6469 non-null   int64
 6   PK          6469 non-null   object
 7   COMMUNE     6469 non-null   object
 8   DEPARTEMEN  6469 non-null   object
 9   IDRESEAU    6469 non-null   int64
 10  IDGAIA      6469 non-null   object
 11  X_L93       6469 non-null   float64
 12  Y_L93       6469 non-null   float64
 13  X_WGS84     6469 non-null   float64
 14  Y_WGS84     6469 non-null   float64
 15  C_GEO       6469 non-null   object
 16  Geo Point   6469 non-null   object
 17  Geo Shape   6469 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 909.8+ KB

In [32]:
var_num = df.select_dtypes(include=['int','float'])
var_cat = df.select_dtypes(include=['object','category'])

In [33]:
var_num.describe().T

,count,mean,std,min,25%,50%,75%,max
CODE_UIC,6469.0,8.749059e+07,212414.818476,8.700148e+07,8.729742e+07,8.749114e+07,8.769480e+07,8.800000e+07
CODE_LIGNE,6469.0,5.356153e+05,283056.459815,1.000000e+03,3.025110e+05,5.710000e+05,7.750000e+05,9.960000e+05
RG_TRONCON,6469.0,1.082393e+00,0.338035,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
IDRESEAU,6469.0,1.139018e+05,2272.138427,1.099760e+05,1.119340e+05,1.139070e+05,1.158780e+05,1.178450e+05
X_L93,6469.0,6.990408e+05,197210.152585,1.472348e+05,5.698744e+05,6.880268e+05,8.486483e+05,1.229845e+06
Y_L93,6469.0,6.675261e+06,239890.530768,6.109213e+06,6.496046e+06,6.722799e+06,6.866633e+06,7.108432e+06
X_WGS84,6469.0,2.984123e+00,2.589355,-4.477628e+00,1.285338e+00,2.836470e+00,4.945582e+00,9.448431e+00
Y_WGS84,6469.0,4.714787e+01,2.163192,4.192763e+01,4.554049e+01,4.755853e+01,4.887990e+01,5.107053e+01

In [34]:
var_cat.describe().T

,count,unique,top,freq
LIBELLE,6469,6058,Pont-Cardinet,6
FRET,6469,2,N,4949
VOYAGEURS,6469,2,O,3279
PK,6469,6245,000+000,65
COMMUNE,6469,5138,PARIS,64
DEPARTEMEN,6469,96,NORD,235
IDGAIA,6469,6062,2950fa66-dfbc-11e3-a2ff-01a464e0362d,6
C_GEO,6469,6427,"48.88105317128871, 2.3566221505304097",4
Geo Point,6469,6427,"48.88105317126678, 2.356622150530409",4
Geo Shape,6469,6427,"{""coordinates"": [2.356622150530409, 48.8810531...",4

In [26]:
df.columns

Index(['CODE_UIC', 'LIBELLE', 'FRET', 'VOYAGEURS', 'CODE_LIGNE', 'RG_TRONCON',
       'PK', 'COMMUNE', 'DEPARTEMEN', 'IDRESEAU', 'IDGAIA', 'X_L93', 'Y_L93',
       'X_WGS84', 'Y_WGS84', 'C_GEO', 'Geo Point', 'Geo Shape'],
      dtype='object')

In [27]:
df.isna().mean()*100

CODE_UIC      0.0
LIBELLE       0.0
FRET          0.0
VOYAGEURS     0.0
CODE_LIGNE    0.0
RG_TRONCON    0.0
PK            0.0
COMMUNE       0.0
DEPARTEMEN    0.0
IDRESEAU      0.0
IDGAIA        0.0
X_L93         0.0
Y_L93         0.0
X_WGS84       0.0
Y_WGS84       0.0
C_GEO         0.0
Geo Point     0.0
Geo Shape     0.0
dtype: float64